.contentContainer {
    margin: 2em 30em;
    padding: 1em;
    text-align: center;
}

.contentContainer > h2 {
    padding: 0.5em;
    text-decoration: underline;
}

.postContainer { 
    background-color: white;
    text-align: justify;   
    padding: 1em;
    box-shadow: -3px 3px black;
    margin: 1em auto;
    width: 80%;
    line-height: 1.5;
}

.commentsContainer {
    margin: 0 30em;
    border-radius: 10px;
    padding: 10px;
}

.commentsContainer > h3 {
    text-align: center;
}

.commentsContainer > div {
    padding: 1em;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: -3px 3px black;
    border-radius: 10px;
    border:1px solid gray;
    padding: 1em;   
    margin: 1em;
}

.comment > div:first-child {
    width: 600px;
}

.commentAction {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.commentAction > img {
    height: 25px;
    width: 25px;
}

.commentAction:hover {
    cursor: pointer;
}

hr {
    margin: 0em 30em;
}

.commentLink {
    text-decoration: underline;
    color: red;
}

.form {
    padding: 1em;
    display: grid;
    gap: 1em;
    margin: 0 10em;
}

.form > textarea {
    padding: 10px;
    height: 80px;
    line-height: 1.5;
}

.form > button {
    padding: 10px;
    width: 15%;
}

.errorMessage {
    color: red;
}