.contentContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 5em;
    padding: 1em;
}

.contentContainer > h2 {
    padding: 0.5em;
    text-decoration: underline;
}

.contentContainer > img {
    height: 400px;
    width: 700px;
}

.postContainer { 
    background-color: white;
    text-align: justify;   
    padding: 1em;
    box-shadow: -3px 3px black;
    margin: 1em auto;
    line-height: 1.5;
}

.commentsContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
    border-radius: 10px;
    padding: 10px;
}

.commentsContainer > h3 {
    text-align: center;
}

.commentsContainer > div {
    padding: 1em;
}

.comment {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: -3px 3px black;
    border-radius: 10px;
    border:1px solid gray;
    padding: 1em;   
    margin: 1em;
    width: 50%;
}

.comment > div:first-child {
    flex-grow: 10;
}


.comment > div:nth-child(2) {
    flex-grow: 1;
}

.commentAction {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.commentAction > img {
    height: 25px;
    width: 25px;
}

.commentAction:hover {
    cursor: pointer;
}

hr {
    margin: 0em 5em;
}

.commentLink {
    text-decoration: underline;
    color: red;
}

.form {
    padding: 1em;
    display: grid;
    gap: 1em;
    margin: 0 1em;
    width: 40%;
}

.form > textarea {
    padding: 10px;
    height: 100px;
    line-height: 1.5;
}

.form > button {
    padding: 10px;
    width: 80px;
}

.errorMessage {
    color: red;
}


@media (max-width: 650px) {

.contentContainer {
    margin: 2em 1em;
  }

.postContainer { 
    line-height: 1.2;
}

.form {
    width: 100%;
}

.comment {
    width: 100%;
    margin: 0.5em;
}

.contentContainer > img {
    height: 180px;
    width: 350px;
}

}