.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,500px));
}

.card {
    position: relative;
    background-color: white;
    border: 1px solid gray;
    padding: 1em;
    margin: 2em;
    min-height: 300px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: -3px 3px black;
}   

.newProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(247, 242, 242);
}

.newProject:hover {
    cursor: pointer;
}

.mainHeader {
    margin: 2em auto;
    padding: 0.5em;
    width: max-content;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 3px 3px black;
}

.content {
    height: 60%;
    margin: 1em 0.5em;
    padding: 1em;
    line-height: 1.5;
    border: 1mm ridge aliceblue;
    border-radius: 10px;
}

.comments {
    padding: 1em 1em;
    text-align: end;
    flex-grow:1;
}

.cardInfo{
    display: flex;
}

.publishStatus {
    padding: 1em 0em;
}

.cardActions {
    position: absolute;
    display: flex;
    gap: 20px;
    right: 25px;
}

.cardActions > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.cardActions > div > img {
    width: 25px;
    height: 25px;
}

.cardActions > div:hover {
    cursor: pointer;
}