.newPostOverlay {
    position: absolute;
    top: 0;
    opacity: 0.9;
    background-color: rgb(54, 50, 50);
    height: 100%;
    width: 100%;
}

.form > h2 {
    margin: auto;
    padding: 0.5em;
    width: max-content;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 3px 3px black;
}

.form {
    display:grid;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 700px;
    padding: 2em;
    background-color: aliceblue;
    border: 1px solid gray;
    box-shadow: -3px 3px black;
    border-radius: 10px;
}

.form > div {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
}

.form > div:last-child {
    display:flex;
    justify-content: center;
}

.form > div > textarea {
    padding: 10px;
    height: 300px;
}

.form > div > input {
    padding: 10px;
    height: 40px;
}

.form > div > input[type=checkbox] {
    height: 20px;
}

.form > div > button {
    padding: 10px;
}

@media (max-width: 1200px) {
    .form {
        height: 700px;
    }
}

@media (max-width: 430px) {
    .form {
        height: 700px;
        padding: 10px;
    }

    .form > div > textarea {
        padding: 10px;
        height: 200px;
    }

}

