* {
  font-family: 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: aliceblue;
}

main {
  flex-grow: 1;
  position: relative;
}

footer, header {
  height:70px; 
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.loading {
  margin: 10em 10em;
}

.error {
  margin: 10em 10em;
}

button:hover {
  cursor: pointer;
}